.background {
    background-color: #FFFFFF;
    opacity: 0.55;
    width: 90%;
    max-width: 90%;
    border-radius: 50px;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    border-radius: 5;
    padding: 10px;
    width: 100%;
    color: #000000;
}